*{
    margin: 0;
    padding: 0;
    background-color: #F6F8F9;
    font-family: Arial, Helvetica, sans-serif;
}
.logo{
    padding: 30px;
    background-color: white;
}
header span{
    font-size: 55px;
    font-weight: bold;
    vertical-align: bottom;
    background-color: white;
}
.pulsantiadd, .container{
    margin-left: 200px;
    margin-right: 200px;
    margin-top: 40px;
    background-color: white;
    padding: 15px;
}
.container{
    margin-top: 3px;
}
.pulsantiadd div{
    margin-left: 55px;
    margin-bottom: -1px;
    margin-top: 5px;
    background-color: white;
}
#task, #selection{
    background-color: #47ADF1;
    color:white;
    padding: 6px;
    border-radius: 5px;
}
#selection{
    background-color: white;
    color:#C5CBD0;
    border: 1px solid #C5CBD0;
}
.newtask, .finaltask{
    background-color: white;
    margin-left: 55px;
    font-size: 20px;
    margin-top: 15px;
}
.finaltask{
    margin-bottom: 100px;
}
section h1{
    background-color: white;
    margin-left: 55px;
    margin-top: 50px;
}
.container h1 span{
    font-size: 15px;
    background-color: white;
    vertical-align: middle;
}
.check, .false{
    color:#67C2AC;
    border-radius: 50%;
    border: 1px solid #67C2AC;
    padding: 2px 4px;
    background-color: white;
    font-size: 11px;
    vertical-align: middle;
}
.false{
    color:#F0776F;
    border: 1px solid #F0776F;
}
#editorial, #q1goals, #recruiting, #mobile, #website, #sales {
    background-color: #45ABEA;
    color: white;
    border-radius: 20px;
    font-size: 12px;
    padding: 5px 10px;
    margin: 0 5px;
}
#q1goals{
    background-color: #9C72E4;
}
#recruiting{
    background-color: #64C0A9;
}
#mobile{
    background-color: #F29E33;
}
#website{
    background-color: #D863A1;
}
#sales{
    background-color: #B0C926;
}